@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


div.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(5, 7, 5) ;
    border: solid rgb(234, 230, 230) 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
body {
    background-image: linear-gradient(rgb(25, 32, 24), rgb(5, 7, 5));
    min-height: 100vh;
    padding-top: 70px;
    overflow-x: hidden;
}

div.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: rgb(234, 230, 230);
    font-family: "Philosopher",
}

div.main h1{
    text-decoration: underline;
}
div.main a img{
    height: 250px;
}

div.main a{ 
    border: rgb(234, 230, 230) solid 2px;
}

div.main a:hover{
    transform: scale(115%);
    transition: 250ms ease-out;
    cursor: pointer;
}

div.pics{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin: 20px;
    margin-top: 75px;
    animation: moving-imgs 15s linear infinite;
}

div.pics img{
    height: 200px;
    width: 200px;
    border: rgb(234, 230, 230) solid 1px;
}

@keyframes moving-imgs{
    0%{
        transform: translateX(-76%);
    }  
    100% {
            transform: translateX(50%);
    }
}

