@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
}

div.header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    background-color: rgb(5, 7, 5) ;
    border: solid rgb(234, 230, 230) 2px;
    display: flex;
    align-items: center;
    height: 50px;
}

div.header a{
    color: rgb(234, 230, 230);
    font-size: 22px;
    font-family: "philosopher";
    text-decoration: none;
    padding-left: 10px;
}

div.header img{
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

div.header a:hover{
    text-decoration: underline;
}

body {
    background-image: linear-gradient(rgb(25, 32, 24), rgb(5, 7, 5));
    min-height: 100vh;
    padding-top: 70px;
    overflow-x: hidden;
    color: rgb(234, 230, 230); 
    font-family: "philosopher";
}

div.Progressionheader{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

div.Progression{
    margin-top: 25px;
}

li{
    font-size:27px;
}

li p{
    font-size: 19px;
}
